* {
    box-sizing: border-box;
}

body {
    background-color: #171717;
    color: white;
    padding: 10px;
    font-family: "Karla", sans-serif;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}