* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 10px;
    background-color: #2DD4BF;
    font-family: "Inter", sans-serif;
    color: #262626;
}

h1 {
    text-align: center;
}

form {
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-bottom: 3px;
}

input {
    border-radius: 100px;
    border: 1px solid #0D9488;
    height: 2rem;
    text-indent: 10px;
    margin-bottom: 12px;
}

button {
    border-radius: 100px;
    border: 1px solid #0D9488;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.1s ease-in-out;
    font-family: "Inter", sans-serif;
}

button:hover {
    background-color: #115E59;
    border-color: #042F2E;
    color: white;
}